<section class="py-4 my-4">
    <div class="container">
        <div class="bg-white shadow d-block d-sm-flex rounded">
            <div class="profile-tab-nav border-right responsive-account-header col-md-3 my-3">
                <div class="p-4">
                    <div class="img-circle text-center mb-3">
                        <img
                            src="<%= user.avatar ? user.avatar : '/images/avt.jpg' %>"
                            alt="Image"
                            width="180"
                            height="180"
                            class="rounded-circle img-thumbnail"
                        />
                        <h3><%= user.name %></h3>
                        <span>Hạng <%= user.rank %> - <%= user.score %> điểm</span>
                    </div>
                </div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" href="/me/account"> <i class="far fa-home text-center mr-1"></i> Tài khoản </a>
                    <a class="nav-link" href="/me/password"> <i class="far fa-key text-center mr-1"></i> Mật khẩu </a>
                    <a class="nav-link" href="/me/orders">
                        <i class="far fa-shopping-cart text-center mr-1"></i> Đơn mua
                    </a>
                    <a class="nav-link active" href="/me/discounts">
                        <i class="far fa-percent text-center mr-1"></i> Mã giảm giá
                    </a>
                </div>
            </div>
            <div class="tab-content p-4 p-md-5 col-md-9" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <h3 class="mb-4">Danh sách mã giảm giá</h3>
                    <div class="row">
                        <% user.discount.forEach(e => { %>
                        <div class="col-md-6 mb-3">
                            <div class="d-flex flex-row">
                                <img class="rounded mr-3" src="/images/ka-discount.png" width="90" height="90" />
                                <div class="discount-info">
                                    <h5 class="mb-0"><%= e.name %></h5>
                                    <span>
                                        <% if (e.category == 'shipperFee') { %> Free ship <% } else if (e.category ==
                                        'rate') { %> Giảm <%= e.minusPrice %>% <% } else { %> Giảm <%=
                                        e.minusPrice.toLocaleString("vi", { style: "currency", currency: "VND" }) %> <%}
                                        %> đơn hàng từ <%= e.minOrder.toLocaleString("vi", { style: "currency",
                                        currency: "VND" }) %>
                                    </span>
                                    <br />
                                    <span>HSD: <%= e.endTime.toLocaleString('vi-VN') %></span>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
