<section class="py-4 my-4">
    <div class="container">
        <div class="bg-white shadow rounded-lg d-block d-sm-flex rounded">
            <div class="profile-tab-nav border-right responsive-account-header col-md-3 my-3">
                <div class="p-4">
                    <div class="img-circle text-center mb-3">
                        <img
                            src="<%= user.avatar ? user.avatar : '/images/avt.jpg' %>"
                            alt="Image"
                            width="180"
                            height="180"
                            class="rounded-circle img-thumbnail"
                        />
                        <h3><%= user.name %></h3>
                        <span>Hạng <%= user.rank %> - <%= user.score %> điểm</span>
                    </div>
                </div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" href="/me/account"> <i class="far fa-home text-center mr-1"></i> Tài khoản </a>
                    <a class="nav-link active" href="#"> <i class="far fa-key text-center mr-1"></i> Mật khẩu </a>
                    <a class="nav-link" href="/me/orders">
                        <i class="far fa-shopping-cart text-center mr-1"></i> Đơn mua
                    </a>
                    <a class="nav-link" href="/me/discount">
                        <i class="far fa-percent text-center mr-1"></i> Mã giảm giá
                    </a>
                </div>
            </div>
            <div class="tab-content p-4 p-md-5 col-md-9" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <form id="change-password" action="/me/password" method="post">
                        <h3 class="mb-4">Cài đặt mật khẩu</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Mật khẩu cũ</label>
                                    <input
                                        placeholder="Old password"
                                        type="password"
                                        class="form-control"
                                        name="oldPassword"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Mật khẩu mới</label>
                                    <input
                                        placeholder="New password"
                                        type="password"
                                        class="form-control"
                                        name="password"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nhập lại mật khẩu mới</label>
                                    <input
                                        placeholder="Confirm new password"
                                        type="password"
                                        class="form-control"
                                        name="confirmPassword"
                                    />
                                </div>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="submit-btn btn btn-primary">Cập nhật</button>
                            <a href="/me/passwords">
                                <button type="button" class="btn btn-light">Hủy</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.querySelector('.submit-btn').addEventListener('click', (event) => {
        check = true;
        document.querySelectorAll('#change-password input').forEach((e) => {
            if (e.value == '') {
                event.preventDefault();
                sAlert.fire('Thất bại!', 'Mật khẩu không được bỏ trống', 'warning');
                check = false;
            }
        });
        if (check) {
            if (
                document.querySelector('input[name="password"]').value.length < 8 ||
                document.querySelector('input[name="password"]').value !=
                    document.querySelector('input[name="confirmPassword"]').value
            ) {
                event.preventDefault();
                sAlert.fire('Thất bại!', 'Mật khẩu không hợp lệ', 'warning');
            }
        }
    });
</script>
<script>
    if ('<%= message %>' != '') {
        if ('<%= success %>' == 'true') {
            sAlert.fire('Thành công!', '<%= message %>', 'success');
        } else {
            sAlert.fire('Thất bại!', '<%= message %>', 'warning');
        }
    }
</script>
