<section
    class="hero-wrap hero-wrap-2"
    style="background-image: url('/images/bg_4.jpg')"
    data-stellar-background-ratio="0.5"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Khuyến mãi</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"
                        ><a href="/">Trang chủ <i class="ion-ios-arrow-forward"></i></a
                    ></span>
                    <span>Khuyến mãi</span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <% discounts.forEach(e => { %>
            <div class="col-md-6 mb-5">
                <div class="d-flex ftco-animate discount">
                    <div class=d-md-block d-none">
                    <img src="/images/ka-discount.png" width="120px" height="120px" class="rounded" />
                </div>
                <div class="text">
                    <div class="d-flex justify-content-between">
                        <div class="one-half">
                            <h2 class="responsive-header"><%= e.name %></h2>
                        </div>
                        <div class="one-forth">
                            <a href="/me/discounts/<%= e._id %>/save">
                                <h3><button class="btn btn-primary" type="submit">Lưu</button></h3>
                            </a>
                        </div>
                    </div>
                    <div>
                        <span style="padding: 4px 8px; color: red; border: 1px solid">
                            <% if (e.rankUser == 'Tất cả') { %> Tất cả khách hàng <% } else { %> Khách hàng <%=
                            e.rankUser %> <% } %>
                        </span>
                        <br />
                        <% if (e.category == 'shippingFee') { %>
                        <span>
                            Free ship đơn hàng từ <%= e.minOrder.toLocaleString("vi", { style: "currency", currency:
                            "VND" }) %>
                        </span>
                        <% } else if (e.category == 'rate') { %>
                        <span>
                            Giảm <%= e.minusPrice %>% đơn hàng từ <%= e.minOrder.toLocaleString("vi", { style:
                            "currency", currency: "VND" }) %>
                        </span>
                        <% } else { %>
                        <span>
                            Giảm <%= e.minusPrice.toLocaleString("vi", { style: "currency", currency: "VND" })%> đơn
                            hàng từ <%= e.minOrder.toLocaleString("vi", { style: "currency", currency: "VND" }) %>
                        </span>
                        <% } %>
                        <br />
                        <span>Bắt đầu: <%= e.startTime.toLocaleString('vi-VN') %></span>
                        <br />
                        <span>Kết thúc: <%= e.endTime.toLocaleString('vi-VN') %></span>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</section>
<% if (notification.message != '') { %>
<script>
    sAlert.fire('Thông báo', '<%= notification.message %>', '<%= notification.status %>');
</script>
<% } %>
