<section
    class="hero-wrap hero-wrap-2"
    style="background-image: url('/images/bg_4.jpg')"
    data-stellar-background-ratio="0.5"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread"><%= product.name %></h1>
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/">Trang chủ <i class="ion-ios-arrow-forward"></i></a>
                    </span>
                    <span class="mr-2">
                        <a href="/menu">Sản phẩm <i class="ion-ios-arrow-forward"></i></a>
                    </span>
                    <span><%= product.name %></span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                <img class="rounded" src="<%= product.image %>" style="width: 100%; margin-bottom: 12px" />
            </div>
            <div class="col-md-7 col-12">
                <div class="heading-section ftco-animate">
                    <span class="subheading">Thông tin sản phẩm</span>
                    <h2><%= product.name %></h2>
                </div>
                <div class="d-flex align-items-end">
                    <div class="price">
                        <%= product.price.toLocaleString("vi", { style: "currency", currency: "VND" }) %>
                    </div>
                    <% if (product.realPrice) { %>
                    <del class="real-price ml-2">
                        <%= product.realPrice.toLocaleString("vi", { style: "currency", currency: "VND" }) %>
                    </del>
                    <% } %>
                </div>
                <div class="mt-4">
                    <h5>Nguyên liệu</h5>
                    <span><%= product.material %></span>
                </div>
                <div class="mt-4">
                    <h5>Đặt mua</h5>
                    <% if(user && user.role == 'admin') { %>
                    <form class="add-form" action="/cart/add" method="post">
                        <div class="row">
                            <div class="col-6">
                                <label>Số lượng</label>
                                <input name="amount" type="number" class="form-control" value="1" min="1" />
                            </div>
                            <div class="col-3">
                                <label>Kích cỡ</label>
                                <select class="form-control" name="size">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="product" value="<%= product.slug %>" />
                        <button type="submit" class="btn btn-primary mt-4">
                            <i class="fas fa-shopping-cart"></i> Thêm vào giỏ
                        </button>
                        <button type="button" class="btn btn-primary mt-4 ml-3 change-bottle">
                            <i class="far fa-wine-bottle"></i> Đổi chai
                        </button>
                    </form>
                    <script>
                        var btn = document.querySelector('.change-bottle');
                        var form = document.querySelector('.add-form');
                        btn.addEventListener('click', () => {
                            form.action = '/cart/change-bottle';
                            form.submit();
                        });
                    </script>
                    <% } else { %>
                    <form class="add-form" action="/cart/add" method="post">
                        <div class="row">
                            <div class="col-6">
                                <label>Số lượng</label>
                                <input name="amount" type="number" class="form-control" value="1" min="1" />
                            </div>
                            <div class="col-3">
                                <label>Kích cỡ</label>
                                <select class="form-control" name="size">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="product" value="<%= product.slug %>" />
                        <button type="submit" class="btn btn-primary mt-4 add-to-cart">
                            <i class="fas fa-shopping-cart"></i> Thêm vào giỏ
                        </button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="my-4 row">
            <div class="col-md-7">
                <h4>Mô tả sản phẩm</h4>
                <span style="white-space: pre-line"> <%= product.description %> </span>
            </div>
            <div class="col-md-5">
                <h4 class="mb-3">Sản phẩm khác</h4>
                <% related.forEach((product) => { %>
                <a href="/menu/<%= product.slug %>">
                    <div class="menus d-flex ftco-animate">
                        <div class="menu-img img" style="background-image: url('<%= product.image %>')"></div>
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3><%= product.name %></h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">
                                        <%= product.price.toLocaleString("vi", { style: "currency", currency: "VND" })
                                        %>
                                    </span>
                                </div>
                            </div>
                            <p><span><%= product.material %></span></p>
                        </div>
                    </div>
                </a>
                <% }); %>
            </div>
        </div>
    </div>
</section>
