<section class="py-4 my-4">
    <div class="container">
        <div class="bg-white shadow rounded-lg d-block d-sm-flex rounded">
            <div class="profile-tab-nav border-right responsive-account-header col-md-3 my-3">
                <div class="p-4">
                    <div class="img-circle text-center mb-3">
                        <img
                            src="/images/avt.jpg"
                            alt="Image"
                            width="180"
                            height="180"
                            class="rounded-circle img-thumbnail"
                        />
                        <h3>Admin</h3>
                    </div>
                </div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" href="/admin/products">
                        <i class="far fa-coffee text-center mr-1"></i> Sản phẩm
                    </a>
                    <a class="nav-link" href="/admin/discounts">
                        <i class="far fa-percent text-center mr-1"></i> Mã giảm giá
                    </a>
                    <a class="nav-link" href="/admin/stories">
                        <i class="far fa-newspaper text-center mr-1"></i> Tin tức
                    </a>
                    <a class="nav-link active" href="/admin/orders">
                        <i class="far fa-shopping-cart text-center mr-1"></i> Đơn hàng
                    </a>
                    <a class="nav-link" href="/admin/users">
                        <i class="far fa-user text-center mr-1"></i> Khách hàng
                    </a>
                    <a class="nav-link" href="/admin/statistic">
                        <i class="far fa-chart-bar text-center mr-1"></i> Thống kê
                    </a>
                </div>
            </div>
            <div class="tab-content p-3 p-md-4 col-md-9" id="v-pills-tabContent">
                <div class="tab-pane fade show active">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a
                                class="nav-item nav-link active"
                                data-toggle="tab"
                                href="#cho-shipper"
                                role="tab"
                                aria-selected="true"
                                >Chờ shipper</a
                            >
                            <a
                                class="nav-item nav-link"
                                data-toggle="tab"
                                href="#shipper-dang-giao"
                                role="tab"
                                aria-selected="false"
                                >Shipper đang giao</a
                            >
                            <a
                                class="nav-item nav-link"
                                data-toggle="tab"
                                href="#giao-thanh-cong"
                                role="tab"
                                aria-selected="false"
                                >Giao thành công</a
                            >
                            <a
                                class="nav-item nav-link"
                                data-toggle="tab"
                                href="#mua-tai-quan"
                                role="tab"
                                aria-selected="false"
                                >Mua tại quán</a
                            >
                            <a
                                class="nav-item nav-link"
                                data-toggle="tab"
                                href="#cho-xac-nhan"
                                role="tab"
                                aria-selected="false"
                                >Chờ xác nhận</a
                            >
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div
                            class="tab-pane fade show active"
                            id="cho-shipper"
                            role="tabpanel"
                            aria-labelledby="nav-home-tab"
                        >
                            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="col-md-3">Mã đơn</th>
                                        <th class="col-md-3 text-center">Số lượng</th>
                                        <th class="col-md-3 text-center">Tổng tiền</th>
                                        <th class="col-md-3 text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach(function(order){ %> <% if(order.status == 'Chờ shipper') { %>
                                    <tr>
                                        <td># <%= order._id.toString().slice(16, 24) %></td>
                                        <td class="text-center"><%= order.orderItems.length %></td>
                                        <td class="text-center cart-price">
                                            <%= order.total.toLocaleString("vi", { style: "currency", currency: "VND" })
                                            %>
                                        </td>
                                        <td class="text-center">
                                            <a href="/order/detail/<%= order._id %>" title="Xem chi tiết">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="far fa-eye"></i>
                                                </button>
                                            </a>
                                            <button
                                                class="btn btn-primary btn-sm ml-2"
                                                type="button"
                                                onclick="updateOrder('<%= order._id %>')"
                                                title="Shipper đang giao"
                                            >
                                                <i class="far fa-long-arrow-alt-right"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %> <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="shipper-dang-giao" role="tabpanel">
                            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="col-md-3">Mã đơn</th>
                                        <th class="col-md-3 text-center">Số lượng</th>
                                        <th class="col-md-3 text-center">Tổng tiền</th>
                                        <th class="col-md-3 text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach(function(order){ %> <% if(order.status == 'Shipper đang giao') {
                                    %>
                                    <tr>
                                        <td># <%= order._id.toString().slice(16, 24) %></td>
                                        <td class="text-center"><%= order.orderItems.length %></td>
                                        <td class="text-center cart-price">
                                            <%= order.total.toLocaleString("vi", { style: "currency", currency: "VND" })
                                            %>
                                        </td>
                                        <td class="text-center">
                                            <a href="/order/detail/<%= order._id %>" title="Xem chi tiết">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="far fa-eye"></i>
                                                </button>
                                            </a>
                                            <button
                                                class="btn btn-primary btn-sm ml-2"
                                                type="button"
                                                onclick="updateOrder('<%= order._id %>')"
                                                title="Giao thành công"
                                            >
                                                <i class="far fa-long-arrow-alt-right"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %> <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="giao-thanh-cong" role="tabpanel">
                            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="col-md-3">Mã đơn</th>
                                        <th class="col-md-3 text-center">Số lượng</th>
                                        <th class="col-md-3 text-center">Tổng tiền</th>
                                        <th class="col-md-3 text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach(function(order){ %> <% if(order.status == 'Giao thành công') { %>
                                    <tr>
                                        <td># <%= order._id.toString().slice(16, 24) %></td>
                                        <td class="text-center"><%= order.orderItems.length %></td>
                                        <td class="text-center cart-price">
                                            <%= order.total.toLocaleString("vi", { style: "currency", currency: "VND" })
                                            %>
                                        </td>
                                        <td class="text-center">
                                            <a href="/order/detail/<%= order._id %>" title="Xem chi tiết">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="far fa-eye"></i>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    <% } %> <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="mua-tai-quan" role="tabpanel">
                            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="col-md-3">Mã đơn</th>
                                        <th class="col-md-3 text-center">Số lượng</th>
                                        <th class="col-md-3 text-center">Tổng tiền</th>
                                        <th class="col-md-3 text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach(function(order){ %> <% if(order.status == 'Đã thanh toán') { %>
                                    <tr>
                                        <td># <%= order._id.toString().slice(16, 24) %></td>
                                        <td class="text-center"><%= order.orderItems.length %></td>
                                        <td class="text-center cart-price">
                                            <%= order.total.toLocaleString("vi", { style: "currency", currency: "VND" })
                                            %>
                                        </td>
                                        <td class="text-center">
                                            <a href="/order/detail/<%= order._id %>" title="Xem chi tiết">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="far fa-eye"></i>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    <% } %> <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="cho-xac-nhan" role="tabpanel">
                            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="col-md-3">Mã đơn</th>
                                        <th class="col-md-2 text-center">Số điện thoại</th>
                                        <th class="col-md-2 text-center">Số lượng</th>
                                        <th class="col-md-2 text-center">Tổng tiền</th>
                                        <th class="col-md-3 text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach(function(order){ %> <% if(order.status == 'Chờ xác nhận') { %>
                                    <tr>
                                        <td># <%= order._id.toString().slice(16, 24) %></td>
                                        <td class="text-center"><%= order.phone %></td>
                                        <td class="text-center"><%= order.orderItems.length %></td>
                                        <td class="text-center cart-price">
                                            <%= order.total.toLocaleString("vi", { style: "currency", currency: "VND" })
                                            %>
                                        </td>
                                        <td class="text-center">
                                            <a href="/order/detail/<%= order._id %>" title="Xem chi tiết">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="far fa-eye"></i>
                                                </button>
                                            </a>
                                            <a href="/admin/orders/<%= order._id %>/edit" title="Sửa thông tin">
                                                <button class="btn btn-primary btn-sm ml-2">
                                                    <i class="far fa-pen"></i>
                                                </button>
                                            </a>
                                            <button
                                                class="btn btn-danger btn-sm ml-2"
                                                type="button"
                                                title="Xóa đơn hàng"
                                                onclick="deleteOrder('<%= order._id %>')"
                                            >
                                                <i class="far fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %> <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<form id="delete-order" method="post"></form>
<form id="update-order" method="post"></form>
<script>
    var updateForm = document.getElementById('update-order');
    var deleteForm = document.getElementById('delete-order');
    const updateOrder = (id) => {
        sAlert
            .fire({
                title: 'Xác nhận!',
                text: 'Đơn hàng sẽ được cập nhật trạng thái',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Cập nhật',
                cancelButtonText: 'Hủy',
            })
            .then((result) => {
                if (result.isConfirmed) {
                    updateForm.action = `/admin/orders/${id}/update?_method=PATCH`;
                    updateForm.submit();
                }
            });
    };
    const deleteOrder = (id) => {
        sAlert
            .fire({
                title: 'Xác nhận!',
                text: 'Đơn hàng sẽ được xóa khỏi hệ thống',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Hủy',
            })
            .then((result) => {
                if (result.isConfirmed) {
                    deleteForm.action = `/admin/orders/${id}/delete?_method=DELETE`;
                    deleteForm.submit();
                }
            });
    };
</script>
