<section class="py-4 my-4">
    <div class="container">
        <a href="/menu"><i class="far fa-long-arrow-alt-left"></i> Tiếp tục mua hàng </a>

        <% if (!cart) { %>
        <div class="cart mt-4 bg-white shadow rounded p-3">
            <div class="d-flex flex-column align-items-center justify-content-center mb-5">
                <img src="/images/cart-empty.png" alt="" />
                <h3>Giỏ hàng trống!</h3>
            </div>
        </div>
        <% } else { %>
        <div class="cart mt-4 bg-white shadow rounded p-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th class="text-center d-none d-sm-table-cell">Giá</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center d-none d-sm-table-cell">Size</th>
                        <th class="text-center d-none d-sm-table-cell">Thành tiền</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <% cart.orderItems.forEach((item) => { %>
                    <tr>
                        <td>
                            <a class="ka-link" href="/menu/<%= item.product.slug %>">
                                <img
                                    src="<%= item.product.image %>"
                                    alt=""
                                    class="rounded-circle mr-2"
                                    width="40"
                                    height="40"
                                />
                                <%= item.product.name %>
                            </a>
                        </td>
                        <td class="text-center d-none d-sm-table-cell">
                            <%= item.product.price.toLocaleString('vi', { style: 'currency', currency: 'VND', }) %>
                        </td>
                        <td class="text-center">
                            <span class="cart-num"><%= item.amount %></span>
                        </td>
                        <td class="text-center d-none d-sm-table-cell"><%= item.size %></td>
                        <td class="text-center d-none d-sm-table-cell cart-price">
                            <%= (item.amount * item.product.price).toLocaleString('vi', { style: 'currency', currency:
                            'VND', }) %>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-danger btn-sm" type="button" onclick="deleteItem('<%= item._id %>')">
                                <i class="far fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div class="checkout mt-5 bg-white shadow rounded p-3">
            <form action="/order/create" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tên khách hàng</label>
                            <input type="text" name="name" class="form-control" value="<%= user.name %>" required />
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input
                                type="text"
                                name="address"
                                class="form-control"
                                value="<%= user.address %>"
                                required
                            />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input type="text" name="phone" class="form-control" value="<%= user.phone %>" required />
                        </div>
                        <div class="form-group">
                            <label>Mã giảm giá</label>
                            <select
                                type="text"
                                name="discount"
                                class="custom-select form-control"
                                onchange="selectDiscount()"
                            >
                                <option value="">Không áp dụng mã giảm giá</option>
                                <% user.discount.forEach(e => { %>
                                <option value="<%= e._id %>"><%= e.name %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex justify-content-between">
                            <span>Tạm tính</span>
                            <span class="cart-price subtotal">
                                <%= cart.subtotal.toLocaleString('vi', { style: 'currency', currency: 'VND', }) %>
                            </span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Phí giao hàng</span>
                            <span class="cart-price shippingFee">
                                <%= (20000).toLocaleString('vi', { style: 'currency', currency: 'VND', }) %>
                            </span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Giảm giá</span>
                            <span class="cart-price minusPrice">
                                <%= (0).toLocaleString('vi', { style: 'currency', currency: 'VND', }) %>
                            </span>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-between">
                            <span>Tổng cộng</span>
                            <span class="cart-price total">
                                <%= (cart.subtotal + 20000).toLocaleString('vi', { style: 'currency', currency: 'VND',
                                })%>
                            </span>
                        </div>
                        <div class="mt-3">
                            <button class="btn btn-primary w-100">Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script>
            const discount = document.querySelector('select[name="discount"]');
            var subtotalLabel = document.querySelector('.subtotal');
            var shippingFeeLabel = document.querySelector('.shippingFee');
            var minusPriceLabel = document.querySelector('.minusPrice');
            var totalLabel = document.querySelector('.total');
            const selectDiscount = () => {
                var subtotal = parseInt('<%= cart.subtotal %>');
                var total = 0;
                if (discount.value == '') {
                    minusPriceLabel.innerHTML =
                        "<%= (0).toLocaleString('vi', { style: 'currency', currency: 'VND', }) %>";
                    totalLabel.innerHTML = (subtotal + 20000).toLocaleString('vi', {
                        style: 'currency',
                        currency: 'VND',
                    });
                } else {
                    ('<% user.discount.forEach(e => { %>');
                    if (discount.value == '<%= e._id %>') {
                        switch ('<%= e.category %>') {
                            case 'money':
                                total = subtotal - parseInt('<%= e.minusPrice %>') + 20000;
                                minusPriceLabel.innerHTML =
                                    "<%= e.minusPrice.toLocaleString('vi', { style: 'currency', currency: 'VND', }) %>";
                                totalLabel.innerHTML = total.toLocaleString('vi', {
                                    style: 'currency',
                                    currency: 'VND',
                                });
                                break;
                            case 'rate':
                                total = subtotal - (subtotal * parseInt('<%= e.minusPrice %>')) / 100 + 20000;
                                minusPriceLabel.innerHTML = '<%= e.minusPrice %>%';
                                totalLabel.innerHTML = total.toLocaleString('vi', {
                                    style: 'currency',
                                    currency: 'VND',
                                });
                                break;
                            case 'shippingFee':
                                minusPriceLabel.innerHTML = 'Free ship';
                                totalLabel.innerHTML = subtotal.toLocaleString('vi', {
                                    style: 'currency',
                                    currency: 'VND',
                                });
                                break;
                        }
                    }
                    ('<% }) %>');
                }
            };
        </script>
        <% } %>
    </div>
</section>
<form action="" id="delete-item" method="post"></form>
<script>
    const deleteItem = (id) => {
        var formDelete = document.getElementById('delete-item');
        sAlert
            .fire({
                title: 'Bạn có chắc chắn?',
                text: 'Sản phẩm sẽ được xóa khỏi đơn hàng!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Hủy',
            })
            .then((result) => {
                if (result.isConfirmed) {
                    formDelete.action = `/cart/delete/${id}`;
                    formDelete.submit();
                }
            });
    };
</script>
