<section
    class="hero-wrap hero-wrap-2"
    style="background-image: url('/images/bg_4.jpg')"
    data-stellar-background-ratio="0.5"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Tin tức</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"
                        ><a href="/">Trang chủ <i class="ion-ios-arrow-forward"></i></a
                    ></span>
                    <span>Tin tức</span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <h1 class="mb-3"><%= story.title %></h1>
                <div class="mb-3 d-flex align-items-center">
                    <div class="mr-4 d-flex">
                        <img
                            src="<%= story.user.avatar ? story.user.avatar : '/images/avt.jpg' %>"
                            alt="Image placeholder"
                            height="32"
                            width="32"
                            class="rounded-circle mr-2"
                        />
                        <div class="desc">
                            <h5 class="mb-0"><%= story.user.name %></h5>
                        </div>
                    </div>

                    <span class="icon-calendar mr-1"></span> <%= story.createdAt.toLocaleDateString('en-US', { day:
                    'numeric', month: 'short', year: 'numeric' }); %>
                </div>
                <img src="<%= story.thumbnail %>" alt="" class="img-fluid" />
                <p class="mt-3" style="white-space: pre-line"><%= story.description %></p>
                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <% story.categories.forEach(e => { %>
                        <a href="/stories/tag/<%= e %>" class="tag-cloud-link"><%= e %></a>
                        <% }) %>
                    </div>
                </div>

                <div class="pt-3 mt-4" id="comments">
                    <h3 class="mb-4 h4 font-weight-bold p-2 bg-light"><%= story.comment %> Bình luận</h3>
                    <ul class="comment-list">
                        <% comments.forEach(e => { %>
                        <li class="comment">
                            <div class="vcard bio">
                                <img src="<%= e.user.avatar ? e.user.avatar : '/images/avt.jpg' %>" alt="Image placeholder" />
                            </div>
                            <div class="comment-body">
                                <h3><%= e.user.name %></h3>
                                <div class="meta mb-2">
                                    <%= e.createdAt.toLocaleString('en-US', { day: 'numeric' , month: 'short' , year:
                                    'numeric', hour: 'numeric', minute: 'numeric'}); %>
                                </div>
                                <p><%= e.content %></p>
                                <% if (user) { %>
                                <p>
                                    <a href="#comment-area">
                                        <button
                                            class="btn btn-dark btn-sm"
                                            onclick="reply('<%= e.user.name %>', '<%= e._id %>')"
                                        >
                                            <i class="far fa-reply"></i> Trả lời
                                        </button>
                                    </a>
                                </p>
                                <% } %>
                            </div>

                            <ul class="children">
                                <% e.reply.forEach(c => { %>
                                <li class="comment">
                                    <div class="vcard bio">
                                        <img src="<%= c.user.avatar ? c.user.avatar : '/images/avt.jpg' %>" alt="Image placeholder" />
                                    </div>
                                    <div class="comment-body">
                                        <h3><%= c.user.name %></h3>
                                        <div class="meta mb-2">
                                            <%= c.createdAt.toLocaleString('en-US', { day: 'numeric' , month: 'short' ,
                                            year: 'numeric', hour: 'numeric', minute: 'numeric'}); %>
                                        </div>
                                        <p><%= c.content %></p>
                                    </div>
                                </li>
                                <% }) %>
                            </ul>
                        </li>
                        <% }) %>
                    </ul>
                    <!-- END comment-list -->
                    <% if (user) { %>
                    <div id="comment-area" class="comment-form-wrap pt-5">
                        <h3 class="mb-5 h4 font-weight-bold p-2 bg-light">Bình luận</h3>
                        <form id="comment-form" action="/comment" method="post" class="p-2 bg-light">
                            <input type="hidden" name="commentedAt" value="<%= story._id %>" />
                            <label id="comment-label">Bình luận</label>
                            <div class="form-group">
                                <textarea
                                    name="content"
                                    cols="30"
                                    rows="6"
                                    class="form-control"
                                    placeholder="Nhập bình luận của bạn tại đây"
                                    required
                                ></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary mr-3"><i class="far fa-comment-alt-lines"></i> Bình luận</button>
                                <button
                                    type="button"
                                    class="new-cmt-btn btn btn-secondary d-none"
                                    onclick="newCmt('<%= story._id %>')"
                                >
                                    Viết bình luận mới
                                </button>
                            </div>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
            <!-- .col-md-8 -->

            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box ftco-animate">
                    <h3>Tin tức phổ biến</h3>
                    <% popularStory.forEach(e => { %>
                    <div class="block-21 mb-4 d-flex">
                        <a
                            href="/stories/<%= e.slug %>"
                            class="blog-img mr-4"
                            style="background-image: url('<%= e.thumbnail %>')"
                        ></a>
                        <div class="text">
                            <h3 class="heading">
                                <a href="/stories/<%= e.slug %>"><%= e.title %></a>
                            </h3>
                            <div class="meta">
                                <div>
                                    <span class="icon-calendar"></span> <%= e.createdAt.toLocaleDateString('en-US', {
                                    day: 'numeric', month: 'short', year: 'numeric' }); %>
                                </div>
                                <div><span class="icon-person"></span> <%= e.user.name %></div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Danh sách danh mục</h3>
                    <ul class="tagcloud m-0 p-0">
                        <% tags.tags.forEach(e => { %>
                            <a href="/stories/tag/<%= e %>" class="tag-cloud-link"><%= e %></a>
                        <% }) %>
                    </ul>
                </div>
            </div>
            <!-- END COL -->
        </div>
    </div>
</section>
<% if (user) { %>
<script>
    var cmtLabel = document.getElementById('comment-label');
    var cmtForm = document.getElementById('comment-form');
    var commentedAt = document.querySelector('input[name="commentedAt"]');
    var newCmtBtn = document.querySelector('.new-cmt-btn');

    const reply = (name, id) => {
        cmtForm.action = '/comment/reply';
        commentedAt.value = id;
        cmtLabel.innerHTML = `Trả lời bình luận của <b>${name}</b>`;
        newCmtBtn.classList.remove('d-none');
    };

    const newCmt = (id) => {
        cmtForm.action = '/comment';
        commentedAt.value = id;
        cmtLabel.innerHTML = 'Bình luận';
        newCmtBtn.classList.add('d-none');
    };
</script>
<% } %>
